{{template "base" .}}

{{define "title"}}Contact Us{{end}}

{{define "main"}}
<h1>Contact Us</h1>

<div class="contact-info">
    <p>Email: info@example.com</p>
    <p>Phone: +123 456 7890</p>
    <!-- Add more contact details as needed -->
</div>

<div class="map">
    <!-- Include the map here using an iframe or another map integration method -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.95421118624!2d71.4157479764919!3d51.090852541048065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sen!2skz!4v1705842187346!5m2!1sen!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{{end}}
